<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA09HNU8_C4H8mWdbEHXu74WjXLxRNAZ1g</string>
	<key>GCM_SENDER_ID</key>
	<string>1002930644393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mkaan.mrhangman</string>
	<key>PROJECT_ID</key>
	<string>mrhangman-6ecab</string>
	<key>STORAGE_BUCKET</key>
	<string>mrhangman-6ecab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002930644393:ios:cc8eb9299d49d5f0b590b8</string>
	<key>DATABASE_URL</key>
	<string>https://mrhangman-6ecab-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>